<!-- Header -->
<header class="bg-custom-green text-white py-8">
  <div class="container mx-auto flex items-center justify-between px-4">
    <div class="flex-auto w-64 pl-40 self-center">
      <a href="/"
        ><img class="h-32 rounded-full" src="/IMG-20240329-WA0020.jpg" alt="Company logo"
      /></a>
    </div>
    <nav>
      <a href="/" class="text-lg font-semibold mx-1 hover:underline">Home</a>
      <a href="/product" class="text-lg font-semibold mx-1 hover:underline"
        >Products</a
      >
      <a
        href="/about"
        class="text-lg font-semibold mx-1 hover:underline active-link"
        >About</a
      >
      <a href="/contact" class="text-lg font-semibold mx-1 hover:underline"
        >Contact</a
      >
    </nav>
  </div>
</header>
