<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Hydro Vista - about</title>
  <link rel="stylesheet" href="css/style.css" />
  <meta name="description" content="" />

  <meta property="og:title" content="" />
  <meta property="og:type" content="" />
  <meta property="og:url" content="" />
  <meta property="og:image" content="img/IMG-20240329-WA0020.jpg" />

  <link rel="icon" href="img/IMG-20240329-WA0020.jpg" sizes="any" />
  <link rel="icon" href="img/IMG-20240329-WA0020.jpg" type="image/svg+xml" />
  <link rel="apple-touch-icon" href="img/IMG-20240329-WA0020.jpg" />

  <link rel="manifest" href="site.webmanifest" />
  <meta name="theme-color" content="#fafafa" />

  <script src="https://cdn.tailwindcss.com"></script>

  <style>
    /* Additional custom styles */
    .bg-custom-green {
      background-color: #00563b;
    }
    .bg-custom-yellow {
      background-color: #f0ead6;
    }
    .bg-custom-blue {
      background-color: #63b3ed;
    }
    .bg-custom-orange {
      background-color: #f6ad55;
    }
    .active-link {
      /* Add your active link styles here */
      font-weight: bold;
      color: #010127; /* Change to your desired color */
    }
  </style>
</head>
